{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	Profil
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Profil</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-primary">
								<th scope="col">Nom</th>
								<th scope="col">Prenom</th>
								<th scope="col">Email</th>
								<th scope="col">Date d'user</th>
								<th scope="col">Roles</th>
							</tr>
						</thead>
						<tbody></tbody>
						<tbody>
							{% for u in users %}
								<tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
									<td>{{ u.nom | capitalize }}</td>
									<td>{{ u.prenom | capitalize }}</td>
									<td>{{ u.email | capitalize }}</td>
									<td>{{ u.dateEnvoi | date("d-m-Y à H:i:s") }}</td>
									{% if "ROLE_ADMIN" in u.roles %}
										<td>Administrateur</td>
									{% else %}
										<td>Utilisateur</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>{% endblock %}
